.heading-section {
  // desktop
  // padding: 20rem 0 10rem;

  // ovde je isto za gore i dole zato sto je oduzeta 100vh od projekta
  padding: 10rem 0 10rem;
  color: #1c1d1f;

  h2 {
    font-size: 40px;

    @include Pads() {
      font-size: 50px;
    }

    @include PadsPro() {
      font-size: 50px;
    }

    @include Laptops() {
      font-size: 60px;
    }

    @include HiDPI() {
      font-size: 60px;
    }
  }

  p {
    font-size: 18px;
    color: rgba(29, 30, 32, 0.7);
    font-weight: 200;
    line-height: 25px;
    // desktop
    // width: 600px;
    width: 100%;
    margin: 1.5rem 0;

    @include Pads() {
      width: 80%;
    }

    @include PadsPro() {
      width: 80%;
      max-width: 700px;
      font-size: 20px;
      line-height: 27px;
    }

    @include Laptops() {
      width: 80%;
      max-width: 700px;
      font-size: 20px;
      line-height: 27px;
    }

    @include HiDPI() {
      width: 600px;
      font-size: 20px;
      line-height: 27px;
    }
  }
}
