.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // desktop
  // height: 100vh;
  flex-direction: column;

  margin-bottom: 8rem;

  @include Pads() {
    flex-direction: row;
  }

  @include PadsPro() {
    flex-direction: row;
  }

  @include Laptops() {
    flex-direction: row;
  }

  @include HiDPI() {
    flex-direction: row;
  }

  .img {
    position: relative;
    // desktop
    // width: 600px;
    // height: 600px;

    width: 100%;
    height: 400px;
    margin-bottom: 2rem;

    @include Pads() {
      margin-bottom: unset;
      width: 48%;
    }

    @include PadsPro() {
      margin-bottom: unset;
      width: 48%;
    }

    @include Laptops() {
      margin-bottom: unset;
      width: 600px;
      height: 600px;
    }

    @include HiDPI() {
      margin-bottom: unset;
      width: 600px;
      height: 600px;
    }
  }

  .info {
    // desktop
    // width: 500px;

    width: 100%;

    @include Pads() {
      width: 48%;
    }

    @include PadsPro() {
      width: 48%;
    }

    @include Laptops() {
      width: 500px;
    }

    @include HiDPI() {
      width: 500px;
    }

    h4 {
      color: rgba(28, 29, 31, 0.897);
      // font-size:20px;
      font-size: 16px;
      font-weight: 300;
    }

    h2 {
      // font-size: 50px;
      font-size: 30px;
      font-weight: 500;
      color: #1c1d1f;
      margin: 1rem 0;
    }

    h6 {
      font-size: 16px;
      font-weight: 100;
      color: #1c1d1f;
    }
  }
}

.project-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  flex-direction: column;

  @include Pads() {
    flex-direction: row-reverse;
  }

  @include PadsPro() {
    flex-direction: row-reverse;
  }

  @include Laptops() {
    flex-direction: row-reverse;
  }

  @include HiDPI() {
    flex-direction: row-reverse;
  }
}
